.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: none;
  background: #F0F8FF;
  color: dodgerblue;
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  width: auto;
  overflow-y: auto;
}
.CodeMirror-hints::-webkit-scrollbar {
  width: 3px;
}
.CodeMirror-hints::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 3px;
}
.CodeMirror-hints::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}
.CodeMirror-hints::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: DarkBlue;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #6495ED;
  color: white;
}
